.almundoLogo{
	margin-left: 5%;
	}

.rowHeader{
	background-color: #0b3b7a;
	min-height: 100px;
}

.container{
	min-width: 100%;
	margin: 0px;
	background-color: #f2f2f2;
}

.floatLeft{
	float:left;
}

.padding{
	padding: 10px;
	margin: 5px
}

.cards{
	min-width: 100%;
	background-color: white;
	border: 1px solid #e3e3e3;
}

.hotelName{
	color: #157ab0;
	font-weight: bold;
}

.hotelPreview{
	width: 250px;
	height: 150px;
}

.amenities{
	width: 20px;
	height: 20px;
}

.stars{
	width: 20px;
	height: 20px;
  fill: red;
}

.priceSection{
	text-align: center !important;
	border-left: 2px dotted #e3e3e3;
}

.price{
	color: #de6400;
	font-size: x-large;
	font-weight: bold;
}

.priceLegend{
	font-size: small;
}

.buttonBlue{
	color: white;
	background-color: #0b3b7a;
}