<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Almundo Ejercicio</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script>
        var app = angular.module('myapp', []);

        app.controller('Ctrl', function($scope, $http){
            $http.get('/api/listAll')
                .success(function(data) {
                    $scope.list = data;
                })
                .error(function(data) {
                    console.log('Error: ' + data);
            });
            $scope.getNumber = function(num) {
                  return new Array(num);
              }
            $scope.filterHotels = function (num){
                if (num) {
                    $http.get('/api/listStars/' + num)
                        .success(function(data) {
                        $scope.list = data;
                    })
                    .error(function(data) {
                        console.log('Error: ' + data);
                    });
                }
                else{
                     $http.get('/api/listAll')
                        .success(function(data) {
                            $scope.list = data;
                        })
                        .error(function(data) {
                            console.log('Error: ' + data);
                    });
                }
            }
          
        });
    </script>
</head>
<body ng-app="myapp">
    <div ng-controller="Ctrl">
        <div class="row rowHeader">
            <img class="almundoLogo" ng-src="assets/images/logo-almundo.svg" alt="almundoLogo"/>
        </div>
        <div class="container"> 
            
            <div class="row">
                <div class="col-4">
                    <div class="row cards padding">     
                        Filtros
                    </div>
                    <div class="row cards padding">  
                        <div class="col">                    
                            <div class="row">
                                <div class="col-9 floatLeft">
                                    Nombre de hotel
                                </div>
                                <div class="col-2 floatLeft ">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-8">
                                    <input type="textbox" placeholder="Ingrese el nombre">
                                </div>
                                <div class="col-4">
                                    <button class="buttonBlue">Aceptar</button>
                                </div>
                            </div>
                        </div>   
                    </div>
                    <div class="row cards padding"> 
                        <div class="col">                    
                            <div class="row">
                                <div class="col-9 floatLeft">
                                   </span>Estrellas
                                </div>
                                <div class="col-2 floatLeft ">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <input type="radio" name="Star" checked ng-click=filterHotels()>
                                    Todas las estrellas
                                </div>
                                <div class="col-12">
                                    <input type="radio" name="Star" ng-click=filterHotels(5)>
                                    <img class="stars" ng-src="assets/icons/filters/star.svg" alt="star"/>
                                    <img class="stars" ng-src="assets/icons/filters/star.svg" alt="star"/>
                                    <img class="stars" ng-src="assets/icons/filters/star.svg" alt="star"/>
                                    <img class="stars" ng-src="assets/icons/filters/star.svg" alt="star"/>
                                    <img class="stars" ng-src="assets/icons/filters/star.svg" alt="star"/>
                                </div>
                                <div class="col-12">
                                    <input type="radio" name="Star" ng-click=filterHotels(4)>
                                    <img class="stars" ng-src="assets/icons/filters/star.svg" alt="star"/>
                                    <img class="stars" ng-src="assets/icons/filters/star.svg" alt="star"/>
                                    <img class="stars" ng-src="assets/icons/filters/star.svg" alt="star"/>
                                    <img class="stars" ng-src="assets/icons/filters/star.svg" alt="star"/>
                                </div>
                                <div class="col-12">
                                    <input type="radio" name="Star" ng-click=filterHotels(3)>
                                    <img class="stars" ng-src="assets/icons/filters/star.svg" alt="star"/>
                                    <img class="stars" ng-src="assets/icons/filters/star.svg" alt="star"/>
                                    <img class="stars" ng-src="assets/icons/filters/star.svg" alt="star"/>
                                </div>
                                <div class="col-12">
                                    <input type="radio" name="Star" ng-click=filterHotels(2)>
                                    <img class="stars" ng-src="assets/icons/filters/star.svg" alt="star"/>
                                    <img class="stars" ng-src="assets/icons/filters/star.svg" alt="star"/>
                                </div>
                                <div class="col-12">
                                    <input type="radio" name="Star" ng-click=filterHotels(1)>
                                    <img class="stars" ng-src="assets/icons/filters/star.svg" alt="star"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  
                <div class="col-7">
                    <div ng-repeat="item in list">
                        <div class="row padding cards">
                            <div class="col-5 floatLeft">
                                <img class="hotelPreview" ng-src="assets/images/hotels/{{item.image}}" alt="{{item.name}}" />
                            </div>
                            <div class="col-4 floatLeft">
                                <span class="hotelName">{{item.name}}<br></span>
                                <span  ng-repeat="i in getNumber(item.stars)">
                                    <img class="stars" ng-src="assets/icons/filters/star.svg" alt="star"/>
                                </span> <br>
                                <span  ng-repeat="itm in item.amenities">
                                    <img class="amenities" ng-src="assets/icons/amenities/{{itm}}.svg" alt="{{itm}}"/>
                                </span>
                            </div>
                            <div class="col-3 floatLeft priceSection">
                                <div class="padding priceLegend">Precio por noche por <br> habitacion</div>
                                <div class="padding price"> ARS {{item.price | number:2}}</div>
                                <div class="padding">
                                    <button class="buttonBlue">Ver hotel</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
        

    </div>    
</body>
</html>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script> <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
</body>